<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="NetOffice.Core.Net45" version="1.7.3.0" targetFramework="net461" />
  <package id="NetOffice.Word.Net45" version="1.7.3.0" targetFramework="net461" />
</packages>